#startgamebutton {
  text-shadow: 3px 6px yellow;
  font-size: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 20px double purple;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("https://i.pinimg.com/736x/60/22/52/602252b4b408f8b8902c94868e6f3ced.jpg");
}

#container {
  width: 1000px;
  margin: auto;
  padding: 20px;
  height: 1000px;
  border: 20px double pink;
  overflow: hidden;
  background-color: papayawhip;
  font-size: 17px;
  font-weight: bold;
}

#startWrapper {
  width: 800px;
  padding: 10px;
  border: 15px solid #47476b;
  text-shadow: 3px 7px pink;
  font-size: 750%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-shadow: 3px 2px pink;
  font-size: 200%;
  text-align: center;
}

#donegamebutton {
  text-shadow: 3px 7px yellow;
  font-size: 350%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}